Nessie Spark SQL Demo with NBA Dataset
============================
This demo showcases how to use Nessie Python API along with Spark3 from Iceberg

Initialize Pyspark + Nessie environment
----------------------------------------------

In [1]:
import os
import findspark
from pyspark.sql import *
from pyspark import SparkConf, SparkContext
from py4j.java_gateway import java_import
findspark.init()

conf = SparkConf()
conf.set("spark.jars.packages", "org.apache.iceberg:iceberg-spark3-runtime:0.11.1")
conf.set("spark.sql.execution.pyarrow.enabled", "true")
conf.set("spark.sql.catalog.nessie.warehouse", 'file://' + os.getcwd() + '/spark_warehouse')
conf.set("spark.sql.catalog.nessie.url", "http://localhost:19120/api/v1")
conf.set("spark.sql.catalog.nessie.ref", "main")
conf.set("spark.sql.catalog.nessie.catalog-impl", "org.apache.iceberg.nessie.NessieCatalog")
conf.set("spark.sql.catalog.nessie.auth_type", "NONE")
conf.set("spark.sql.catalog.nessie.cache-enabled", "false")
conf.set("spark.sql.catalog.nessie", "org.apache.iceberg.spark.SparkCatalog")
conf.set("spark.sql.catalog.spark_catalog", "org.apache.iceberg.spark.SparkSessionCatalog")
spark = SparkSession.builder.config(conf=conf).getOrCreate()
sc = spark.sparkContext
jvm = sc._gateway.jvm

java_import(jvm, "org.apache.iceberg.CatalogUtil")
java_import(jvm, "org.apache.iceberg.catalog.TableIdentifier")
java_import(jvm, "org.apache.iceberg.Schema")
java_import(jvm, "org.apache.iceberg.types.Types")
java_import(jvm, "org.apache.iceberg.PartitionSpec")

Create Extra Spark Contexts
------------------------------

Because of the way Spark Sessions cache Catalogs we can only have 1 Nessie Catalog per Spark Session. Below we create a few Spark Sessions to deal with the different Nessie branches we will use in the course of the Demo. Typically in a real life scenario we would create one Nessie catalog per Spark insance and each of the below sections would be run by different users on different branches.

In [2]:
# session for dev branch
spark_dev = spark.newSession()
spark_dev.conf.set("spark.sql.catalog.nessie.ref", "dev" )

# session for ETL branch
spark_etl = spark.newSession()
spark_etl.conf.set("spark.sql.catalog.nessie.ref", "etl" )

# session for experiment branch
spark_experiment = spark.newSession()
spark_experiment.conf.set("spark.sql.catalog.nessie.ref", "experiment" )

Set up nessie branches
----------------------------

- Branch `main` already exists
- Create branch `dev`
- List all branches (pipe JSON result into jq)

In [3]:
# create a new dev branch
!nessie branch dev

In [4]:
# list all branches
!nessie --verbose branch

* main  5d1e09785da83245caf91d53c8d8c5b753ef21ca comment
  dev   5d1e09785da83245caf91d53c8d8c5b753ef21ca comment

Create tables under dev branch
-------------------------------------

We create two tables under the `dev` branch using the `spark_dev` session:
- `salaries`
- `totals_stats`

In [5]:
# Creating salaries table
spark_dev.sql("CREATE TABLE IF NOT EXISTS nessie.nba.salaries (Season STRING, Team STRING, Salary STRING, Player STRING) USING iceberg")
salaries_df = spark_dev.read.csv("data/nba-dataset/salaries.csv", header=True)
salaries_df.write.format("iceberg").mode("overwrite").save("nessie.nba.salaries")

# Creating totals_stats table
spark_dev.sql("CREATE TABLE IF NOT EXISTS nessie.nba.totals_stats (Season STRING, Age STRING, Team STRING, ORB STRING, DRB STRING, TRB STRING, AST STRING, STL STRING, BLK STRING, TOV STRING, PTS STRING, Player STRING, RSorPO STRING) USING iceberg")
totals_stats_df = spark_dev.read.csv("data/nba-dataset/totals_stats.csv", header=True)
totals_stats_df.write.format("iceberg").mode("overwrite").save("nessie.nba.totals_stats")

In [6]:
# notice how we view the data of the salaries table on the dev branch via @dev
spark.sql("select * from nessie.nba.`salaries@dev`").toPandas()

     Season                 Team     Salary          Player
0   2003-04  Cleveland Cavaliers   $4018920    Lebron James
1   2004-05  Cleveland Cavaliers   $4320360    Lebron James
2   2005-06  Cleveland Cavaliers   $4621800    Lebron James
3   2006-07  Cleveland Cavaliers   $5828090    Lebron James
4   2007-08  Cleveland Cavaliers  $13041250    Lebron James
5   2008-09  Cleveland Cavaliers  $14410581    Lebron James
6   2009-10  Cleveland Cavaliers  $15779912    Lebron James
7   2010-11           Miami Heat  $14500000    Lebron James
8   2011-12           Miami Heat  $16022500    Lebron James
9   2012-13           Miami Heat  $17545000    Lebron James
10  2013-14           Miami Heat  $19067500    Lebron James
11  2014-15  Cleveland Cavaliers  $20644400    Lebron James
12  2015-16  Cleveland Cavaliers  $22971000    Lebron James
13  2016-17  Cleveland Cavaliers  $30963450    Lebron James
14  2017-18  Cleveland Cavaliers  $33285709    Lebron James
15  1984-85        Chicago Bulls    $550000  Michael Jordan
16  1985-86        Chicago Bulls    $630000  Michael Jordan
17  1987-88        Chicago Bulls    $845000  Michael Jordan
18  1988-89        Chicago Bulls   $2000000  Michael Jordan
19  1989-90        Chicago Bulls   $2500000  Michael Jordan
20  1990-91        Chicago Bulls   $2500000  Michael Jordan
21  1991-92        Chicago Bulls   $3250000  Michael Jordan
22  1992-93        Chicago Bulls   $4000000  Michael Jordan
23  1993-94        Chicago Bulls   $4000000  Michael Jordan
24  1994-95        Chicago Bulls   $3850000  Michael Jordan
25  1995-96        Chicago Bulls   $3850000  Michael Jordan
26  1996-97        Chicago Bulls  $30140000  Michael Jordan
27  1997-98        Chicago Bulls  $33140000  Michael Jordan
28  2001-02   Washington Wizards   $1000000  Michael Jordan
29  2002-03   Washington Wizards   $1030000  Michael Jordan
30  1996-97   Los Angeles Lakers   $1015000     Kobe Bryant
31  1997-98   Los Angeles Lakers   $1167240     Kobe Bryant
32  1998-99   Los Angeles Lakers   $1319000     Kobe Bryant
33  1999-00   Los Angeles Lakers   $9000000     Kobe Bryant
34  2000-01   Los Angeles Lakers  $10130000     Kobe Bryant
35  2001-02   Los Angeles Lakers  $11250000     Kobe Bryant
36  2002-03   Los Angeles Lakers  $12375000     Kobe Bryant
37  2003-04   Los Angeles Lakers  $13500000     Kobe Bryant
38  2004-05   Los Angeles Lakers  $14175000     Kobe Bryant
39  2005-06   Los Angeles Lakers  $15946875     Kobe Bryant
40  2006-07   Los Angeles Lakers  $17718750     Kobe Bryant
41  2007-08   Los Angeles Lakers  $19490625     Kobe Bryant
42  2008-09   Los Angeles Lakers  $21262500     Kobe Bryant
43  2009-10   Los Angeles Lakers  $23034375     Kobe Bryant
44  2010-11   Los Angeles Lakers  $24806250     Kobe Bryant
45  2011-12   Los Angeles Lakers  $25244493     Kobe Bryant
46  2012-13   Los Angeles Lakers  $27849149     Kobe Bryant
47  2013-14   Los Angeles Lakers  $30453805     Kobe Bryant
48  2014-15   Los Angeles Lakers  $23500000     Kobe Bryant
49  2015-16   Los Angeles Lakers  $25000000     Kobe Bryant

Check generated tables
----------------------------

Check tables generated under the `dev` branch (and that the `main` branch does not have any tables)

In [7]:
# there are no tables on the main branch
!nessie contents --list

In [8]:
# we should see the salaries & totals_stats tables on the dev branch
!nessie contents --list --ref dev

ICEBERG_TABLE:
	nba.salaries
	nba.totals_stats

Note that the `dev` and `main` branches point to different commits now

In [9]:
# list all branches
!nessie --verbose branch

* main  5d1e09785da83245caf91d53c8d8c5b753ef21ca comment
  dev   f1b50499f018c7aac160682579b34b3ffe72d65c comment

Dev promotion
-------------

Promote `dev` branch to `main`.

* `main` now has the same tables as `dev`
* `main` and `dev` point to the same commit

In [10]:
# merge dev into main
!nessie merge dev -b main --force

In [11]:
# list all branches
!nessie --verbose branch

* main  f1b50499f018c7aac160682579b34b3ffe72d65c comment
  dev   f1b50499f018c7aac160682579b34b3ffe72d65c comment

Create `etl` branch
----------------------

- Create a branch `etl` out of `main`
- add data to `salaries`
- alter the schema of `totals_stats`
- create table `allstar_games_stats`
- query the tables in `etl`
- query the tables in `main`
- promote `etl` branch to `main`

In [12]:
# create the etl branch based on main
!nessie branch etl main

In [13]:
# add some salaries for Kevin Durant
Salary = Row("Season", "Team", "Salary", "Player")
kevin_durant = spark_etl.createDataFrame([
    Salary("2017-18", "Golden State Warriors", "$25000000", "Kevin Durant"),
    Salary("2018-19", "Golden State Warriors", "$30000000", "Kevin Durant"),
    Salary("2019-20", "Brooklyn Nets", "$37199000", "Kevin Durant"),
    Salary("2020-21", "Brooklyn Nets", "$39058950", "Kevin Durant")])
kevin_durant.write.format("iceberg").mode("append").save("nessie.nba.salaries")

In [14]:
# dropping a column in the totals_stats table
spark_etl.sql("ALTER TABLE nessie.nba.totals_stats DROP COLUMN Age")

DataFrame[]

In [15]:
# Creating allstar_games_stats table and viewing the contents
spark_etl.sql("CREATE TABLE IF NOT EXISTS nessie.nba.allstar_games_stats (Season STRING, Age STRING, Team STRING, ORB STRING, TRB STRING, AST STRING, STL STRING, BLK STRING, TOV STRING, PF STRING, PTS STRING, Player STRING) USING iceberg")
allstar_games_stats_df = spark_etl.read.csv("data/nba-dataset/allstar_games_stats.csv", header=True)
allstar_games_stats_df.write.format("iceberg").mode("overwrite").save("nessie.nba.allstar_games_stats")

spark.sql("select * from nessie.nba.`allstar_games_stats@etl`").toPandas()

,Season,Age,Team,ORB,TRB,AST,STL,BLK,TOV,PF,PTS,Player
0,2004-05,20,CLE,1,8,6,2,0,3,0,13,Lebron James
1,2005-06,21,CLE,2,6,2,2,0,1,2,29,Lebron James
2,2006-07,22,CLE,0,6,6,1,0,4,0,28,Lebron James
3,2007-08,23,CLE,1,8,9,2,2,4,3,27,Lebron James
4,2008-09,24,CLE,0,5,3,0,0,3,0,20,Lebron James
5,2009-10,25,CLE,1,5,6,4,0,2,1,25,Lebron James
6,2010-11,26,MIA,2,12,10,0,0,4,3,29,Lebron James
7,2011-12,27,MIA,0,6,7,0,0,4,2,36,Lebron James
8,2012-13,28,MIA,0,3,5,1,0,4,0,19,Lebron James
9,2013-14,29,MIA,1,7,7,3,0,1,0,22,Lebron James
10,2014-15,30,CLE,1,5,7,2,0,4,1,30,Lebron James
11,2015-16,31,CLE,0,4,7,0,0,4,0,13,Lebron James
12,2016-17,32,CLE,0,3,1,0,0,4,2,23,Lebron James
13,2017-18,33,CLE,0,10,8,1,0,5,2,29,Lebron James
14,2018-19,34,LAL,2,8,4,0,2,1,1,19,Lebron James
15,1984-85,21,CHI,3,6,2,3,1,1,4,7,Michael Jordan
16,1985-86,22,CHI,None,None,None,None,None,None,None,None,Michael Jordan
17,1986-87,23,CHI,0,0,4,2,0,5,2,11,Michael Jordan
18,1987-88,24,CHI,3,8,3,4,4,2,5,40,Michael Jordan
19,1988-89,25,CHI,1,2,3,5,0,4,1,28,Michael Jordan
20,1989-90,26,CHI,1,5,2,5,1,5,1,17,Michael Jordan
21,1990-91,27,CHI,3,5,5,2,0,10,2,26,Michael Jordan
22,1991-92,28,CHI,1,1,5,2,0,1,2,18,Michael Jordan
23,1992-93,29,CHI,3,4,5,4,0,6,5,30,Michael Jordan
24,1995-96,32,CHI,1,4,1,1,0,0,1,20,Michael Jordan
25,1996-97,33,CHI,3,11,11,2,0,3,4,14,Michael Jordan
26,1997-98,34,CHI,1,6,8,3,0,2,0,23,Michael Jordan
27,2001-02,38,WAS,0,4,3,2,0,1,1,8,Michael Jordan
28,2002-03,39,WAS,2,5,2,2,0,2,3,20,Michael Jordan
29,1997-98,19,LAL,2,6,1,2,0,1,1,18,Kobe Bryant
30,1999-00,21,LAL,1,1,3,2,0,1,3,15,Kobe Bryant
31,2000-01,22,LAL,2,4,7,1,0,3,3,19,Kobe Bryant
32,2001-02,23,LAL,2,5,5,1,0,0,2,31,Kobe Bryant
33,2002-03,24,LAL,2,7,6,3,2,5,5,22,Kobe Bryant
34,2003-04,25,LAL,1,4,4,5,1,6,3,20,Kobe Bryant
35,2004-05,26,LAL,3,6,7,3,1,4,5,16,Kobe Bryant
36,2005-06,27,LAL,0,7,8,3,0,3,5,8,Kobe Bryant
37,2006-07,28,LAL,1,5,6,6,0,4,1,31,Kobe Bryant
38,2007-08,29,LAL,0,1,0,0,0,0,0,0,Kobe Bryant
39,2008-09,30,LAL,1,4,4,4,0,1,0,27,Kobe Bryant
40,2009-10,31,LAL,None,None,None,None,None,None,None,None,Kobe Bryant
41,2010-11,32,LAL,10,14,3,3,0,4,2,37,Kobe Bryant
42,2011-12,33,LAL,0,1,1,2,0,1,2,27,Kobe Bryant
43,2012-13,34,LAL,2,4,8,2,2,1,2,9,Kobe Bryant
44,2013-14,35,LAL,None,None,None,None,None,None,None,None,Kobe Bryant
45,2014-15,36,LAL,None,None,None,None,None,None,None,None,Kobe Bryant
46,2015-16,37,LAL,1,6,7,1,0,1,1,10,Kobe Bryant

In [16]:
# allstar_games_stats is not on the main branch
!nessie contents --list

ICEBERG_TABLE:
	nba.salaries
	nba.totals_stats

In [17]:
# we should see allstar_games_stats on the etl branch
!nessie contents --list --ref etl

ICEBERG_TABLE:
	nba.allstar_games_stats
	nba.salaries
	nba.totals_stats

In [18]:
# now merge the etl branch into main
!nessie merge etl -b main --force

In [19]:
# the etl and main branch should have the same revision
!nessie --verbose branch

* main  ff8ba8e3ec4f3573fa8c5bb67b87d70661f73fad comment
  dev   f1b50499f018c7aac160682579b34b3ffe72d65c comment
  etl   ff8ba8e3ec4f3573fa8c5bb67b87d70661f73fad comment

Create `experiment` branch
--------------------------------

- create `experiment` branch from `main`
- drop `totals_stats` table
- add data to `salaries` table
- compare `experiment` and `main` tables

In [20]:
# create the experiment branch from main
!nessie branch experiment main

In [21]:
# drop the `totals_stats` table
spark_experiment.sql("DROP TABLE IF EXISTS nessie.nba.totals_stats")

DataFrame[]

In [22]:
# add some salaries for Dirk Nowitzki
Salary = Row("Season", "Team", "Salary", "Player")
dirk_nowitzki = spark_experiment.createDataFrame([
    Salary("2015-16", "Dallas Mavericks", "$8333333", "Dirk Nowitzki"),
    Salary("2016-17", "Dallas Mavericks", "$25000000", "Dirk Nowitzki"),
    Salary("2017-28", "Dallas Mavericks", "$5000000", "Dirk Nowitzki"),
    Salary("2018-19", "Dallas Mavericks", "$5000000", "Dirk Nowitzki")])
dirk_nowitzki.write.format("iceberg").mode("append").save("nessie.nba.salaries")

In [23]:
# we should see the salaries and allstar_games_stats tables only
!nessie contents --list --ref experiment

ICEBERG_TABLE:
	nba.allstar_games_stats
	nba.salaries

In [24]:
# main should still see the totals_stats table
!nessie contents --list

ICEBERG_TABLE:
	nba.allstar_games_stats
	nba.salaries
	nba.totals_stats

Let's take a look at the contents of the `salaries` table on the `experiment` branch.
Notice the use of the `nessie` catalog and the use of `@experiment` to view data on the `experiment` branch

In [25]:
spark.sql("select count(*) from nessie.nba.`salaries@experiment`").toPandas()

   count(1)
0        58

and compare to the contents of the `salaries` table on the `main` branch. Notice that we didn't have to specify `@branchName` as it defaulted
to the `main` branch

In [26]:
spark.sql("select count(*) from nessie.nba.salaries").toPandas()

   count(1)
0        54